@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}
.card {
  display: inline-block;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  padding-top: 135px;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
  text-align: center;
  font-size: 75px;
}
:before {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 75px;
}
:after {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 75px;
}
.spade:before,
.spade::after {
  content: "\2660";
}
.club:before,
.club::after {
  content: "\2663";
}
.heart:before,
.heart::after {
  content: "\2665";
  color: red;
}
.diamond:before,
.diamond::after {
  content: "\2666";
  color: red;
}
